.footer-ctrl {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	flex-shrink: 0;
	width: 100%;
}

.footer-logo-wrap {
	display: flex;
	align-items: center;
	gap: 30px;
	font-style: italic;
	font-weight: lighter;
}

.footer-logo {
	width: 150px;
}

.footer-ctrl img:last-child {
	max-width: 100%;
	height: auto;
}
